<div class="promo-container">
    <div class="promo-banner">
        <img src="resources/beauty-resources/top.webp" alt="促銷橫幅" class="promo-banner-img">
    </div>
    <div class="product-grid-2">
    <div class="product-card">
            <div class="product-image">
                <img src="resources/beauty-resources/product1.jpeg" alt="Product Name">
            </div>
            <div class="product-details">
                <h3 class="product-name">SK-II 青春露神仙水</h3>
                <div class="product-price-row">
                    <span class="current-price">HK$198</span>
                    <div  class="product-price-bottom">
                        <span class="original-price">HK$1,280</span>
                        <div class="product-actions">
                            <button class="action-btn wishlist-btn" aria-label="Add to Wishlist">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="action-btn cart-btn" aria-label="Add to Cart">
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="resources/beauty-resources/product2.jpeg" alt="Product Name">
            </div>
            <div class="product-details">
                <h3 class="product-name">SK-II 青春露神仙水</h3>
                <div class="product-price-row">
                    <span class="current-price">HK$198</span>
                    <div  class="product-price-bottom">
                        <span class="original-price">HK$1,280</span>
                        <div class="product-actions">
                            <button class="action-btn wishlist-btn" aria-label="Add to Wishlist">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="action-btn cart-btn" aria-label="Add to Cart">
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="resources/beauty-resources/product3.jpeg" alt="Product Name">
            </div>
            <div class="product-details">
                <h3 class="product-name">SK-II 青春露神仙水</h3>
                <div class="product-price-row">
                    <span class="current-price">HK$198</span>
                    <div  class="product-price-bottom">
                        <span class="original-price">HK$1,280</span>
                        <div class="product-actions">
                            <button class="action-btn wishlist-btn" aria-label="Add to Wishlist">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="action-btn cart-btn" aria-label="Add to Cart">
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="resources/beauty-resources/product4.jpeg" alt="Product Name">
            </div>
            <div class="product-details">
                <h3 class="product-name">SK-II 青春露神仙水</h3>
                <div class="product-price-row">
                    <span class="current-price">HK$198</span>
                    <div  class="product-price-bottom">
                        <span class="original-price">HK$1,280</span>
                        <div class="product-actions">
                            <button class="action-btn wishlist-btn" aria-label="Add to Wishlist">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="action-btn cart-btn" aria-label="Add to Cart">
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="resources/beauty-resources/product5.jpeg" alt="Product Name">
            </div>
            <div class="product-details">
                <h3 class="product-name">SK-II 青春露神仙水</h3>
                <div class="product-price-row">
                    <span class="current-price">HK$198</span>
                    <div  class="product-price-bottom">
                        <span class="original-price">HK$1,280</span>
                        <div class="product-actions">
                            <button class="action-btn wishlist-btn" aria-label="Add to Wishlist">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="action-btn cart-btn" aria-label="Add to Cart">
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="resources/beauty-resources/product6.jpeg" alt="Product Name">
            </div>
            <div class="product-details">
                <h3 class="product-name">SK-II 青春露神仙水</h3>
                <div class="product-price-row">
                    <span class="current-price">HK$198</span>
                    <div  class="product-price-bottom">
                        <span class="original-price">HK$1,280</span>
                        <div class="product-actions">
                            <button class="action-btn wishlist-btn" aria-label="Add to Wishlist">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="action-btn cart-btn" aria-label="Add to Cart">
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="image-grid">
    <div class="grid-item">
        <img src="resources/beauty-resources/brand1.png" alt="Image 1">
    </div>
    <div class="grid-item">
        <img src="resources/beauty-resources/brand2.png" alt="Image 2">
    </div>
    <div class="grid-item">
        <img src="resources/beauty-resources/brand3.png" alt="Image 3">
    </div>
    <div class="grid-item">
        <img src="resources/beauty-resources/brand4.png" alt="Image 4">
    </div>
    <div class="grid-item">
        <img src="resources/beauty-resources/brand5.jpeg" alt="Image 5">
    </div>
    <div class="grid-item">
        <img src="resources/beauty-resources/brand6.png" alt="Image 6">
    </div>
</div>