<!-- Image Carousel with Left/Right Navigation -->
<div class="carousel-container">
    <div class="carousel">
        <!-- Carousel Item 1 -->
        <div class="carousel-item">
            <div class="carousel-image">
                <img src="resources/carousel-resources/page1.webp">
            </div>
        </div>
        
        <!-- Carousel Item 2 -->
        <div class="carousel-item">
            <div class="carousel-image">
            <img src="resources/carousel-resources/page2.webp">
            </div>
        </div>
        
        <!-- Carousel Item 3 -->
        <div class="carousel-item">
            <div class="carousel-image">
            <img src="resources/carousel-resources/page3.webp">
            </div>
        </div>
        
        <!-- Carousel Item 4 -->
        <div class="carousel-item">
            <div class="carousel-image">
            <img src="resources/carousel-resources/page4.webp">
            </div>
        </div>

        <!-- Carousel Item 5 -->
        <div class="carousel-item">
            <div class="carousel-image">
            <img src="resources/carousel-resources/page5.webp">
            </div>
        </div>

        <!-- Carousel Item 6 -->
        <div class="carousel-item">
            <div class="carousel-image">
            <img src="resources/carousel-resources/page6.webp">
            </div>
        </div>

        <!-- Carousel Item 7 -->
        <div class="carousel-item">
            <div class="carousel-image">
            <img src="resources/carousel-resources/page7.webp">
            </div>
        </div>

        <!-- Carousel Item 8 -->
        <div class="carousel-item">
            <div class="carousel-image">
            <img src="resources/carousel-resources/page8.webp">
            </div>
        </div>
    </div>
    <!-- Navigation Arrows -->
        <div class="carousel-nav">
            <button class="prev-btn"><i class="fas fa-chevron-left"></i></button>
            <button class="next-btn"><i class="fas fa-chevron-right"></i></button>
        </div>
        
        <!-- Indicators -->
        <div class="carousel-indicators">
            <div class="indicator active"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
        </div>
    </div>
</div>
