<div class="image-button-group">
    <div class="image-button">
        <img src="resources/category-resources/menu1.jpg">
        <div class="image-button-title">大牌直降</div>
    </div>
    <div class="image-button">
        <img src="resources/category-resources/menu2.jpg">
        <div class="image-button-title">每週至筍價</div>
    </div>
    <div class="image-button">
        <img src="resources/category-resources/menu3.jpg">
        <div class="image-button-title">莎莎獨家</div>
    </div>
    <div class="image-button">
        <img src="resources/category-resources/menu4.jpg">
        <div class="image-button-title">莎莎健康館</div>
    </div>
    <div class="image-button">
        <img src="resources/category-resources/menu5.png">
        <div class="image-button-title">多買多慳</div>
    </div>
    <div class="image-button">
        <img src="resources/category-resources/menu6.jpg">
        <div class="image-button-title">新品上線</div>
    </div>
    <div class="image-button">
        <img src="resources/category-resources/menu7.jpg">
        <div class="image-button-title">積分換購</div>
    </div>
    <div class="image-button">
        <img src="resources/category-resources/menu8.jpg">
        <div class="image-button-title">特賣市集</div>
    </div>
    <div class="image-button">
        <img src="resources/category-resources/menu9.jpg">
        <div class="image-button-title">推廣情報</div>
    </div>
    <div class="image-button">
        <img src="resources/category-resources/menu10.jpg">
        <div class="image-button-title">購物說明</div>
    </div>
</div>

<div class="promotion-slogan">
    <img src="resources/category-resources/promotion2.webp">
</div>