<!--Shopping Item List-->
<div class="shopping-header"><h1>精選優惠</h1></div>

<div class="duo-carousel-container">
    <div class="duo-carousel-wrapper">
        <div class="duo-carousel-track" id="duo-carouselTrack">
            <div class="duo-carousel-item">
                <div class="duo-carousel-item-inner">
                    <div class="duo-carousel-content">
                        <div class="duo-carousel-title">SK-II 青春露神仙水</div>
                        <div class="duo-carousel-date">2025年6月10日 - 2025年6月30日</div>
                    </div>
                    <div class="duo-carousel-image">
                        <img src="resources/featured-product-1-resources/product1_1.jpeg">
                        <img src="resources/featured-product-1-resources/product1.jpeg" alt="duo-img-1">
                    </div>
                </div>
            </div>
            
            <div class="duo-carousel-item">
                <div class="duo-carousel-item-inner">
                    <div class="duo-carousel-content">
                        <div class="carousel-title">SK-II 青春露神仙水</div>
                        <div class="duo-carousel-date">2025年6月10日 - 2025年6月30日</div>
                    </div>
                    <div class="duo-carousel-image">
                        <img src="resources/featured-product-1-resources/product2.jpeg" alt="duo-img-2">
                        <img src="resources/featured-product-1-resources/product2_1.jpeg">
                    </div>
                </div>
            </div>
            
            <div class="duo-carousel-item">
                <div class="duo-carousel-item-inner">
                    <div class="duo-carousel-content">
                        <div class="duo-carousel-title">SK-II 青春露神仙水</div>
                        <div class="duo-carousel-date">2025年6月10日 - 2025年6月30日</div>
                    </div>
                    <div class="duo-carousel-image">
                        <img src="resources/featured-product-1-resources/product3.jpeg" alt="duo-img-3">
                    </div>
                </div>
            </div>
            
            <div class="duo-carousel-item">
                <div class="duo-carousel-item-inner">
                    <div class="duo-carousel-content">
                        <div class="duo-carousel-title">SK-II 青春露神仙水</div>
                        <div class="duo-carousel-date">2025年6月10日 - 2025年6月30日</div>
                    </div>
                    <div class="duo-carousel-image">
                        <img src="resources/featured-product-1-resources/product4_1.jpeg">
                        <img src="resources/featured-product-1-resources/product4.jpeg" alt="duo-img-4">
                    </div>
                </div>
            </div>

            <div class="duo-carousel-item">
                <div class="duo-carousel-item-inner">
                    <div class="duo-carousel-content">
                        <div class="duo-carousel-title">SK-II 青春露神仙水</div>
                        <div class="duo-carousel-date">2025年6月10日 - 2025年6月30日</div>
                    </div>
                    <div class="duo-carousel-image">
                        <img src="resources/featured-product-1-resources/product5_1.jpeg">
                        <img src="resources/featured-product-1-resources/product5.png" alt="duo-img-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <button class="duo-carousel-btn duo-prev-btn" id="duo-prevBtn">&#10094;</button>
    <button class="duo-carousel-btn duo-next-btn" id="duo-nextBtn">&#10095;</button>
</div>