<!--Shopping Item List-->
<div class="shopping-header">
    <h1>每週至筍價</h1>
</div>
<!-- Shopping Item Card -->
<div class="product-grid-2">
   <div class="product-card">
        <div class="product-image">
            <img src="resources/shopping-grid-2-resources/product1.jpeg" alt="Product Name">
            <div class="tag-overlay">
                <img src="resources/tags/tag2.png" class="tag-image">
            </div>
        </div>
        <div class="product-details">
            <h3 class="product-name">SK-II 青春露神仙水</h3>
            <div class="product-price-row">
                <span class="current-price">HK$198</span>
                <div  class="product-price-bottom">
                    <span class="original-price">HK$1,280</span>
                    <div class="product-actions">
                        <button class="action-btn wishlist-btn" aria-label="Add to Wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                        <button class="action-btn cart-btn" aria-label="Add to Cart">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class="product-card">
        <div class="product-image">
            <img src="resources/shopping-grid-2-resources/product2.jpeg" alt="Product Name">
            <div class="tag-overlay">
                <img src="resources/tags/tag2.png" class="tag-image">
            </div>
        </div>
        <div class="product-details">
            <h3 class="product-name">SK-II 青春露神仙水</h3>
            <div class="product-price-row">
                <span class="current-price">HK$198</span>
                <div  class="product-price-bottom">
                    <span class="original-price">HK$1,280</span>
                    <div class="product-actions">
                        <button class="action-btn wishlist-btn" aria-label="Add to Wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                        <button class="action-btn cart-btn" aria-label="Add to Cart">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <img src="resources/shopping-grid-2-resources/product3.jpeg" alt="Product Name">
            <div class="tag-overlay">
                <img src="resources/tags/tag2.png" class="tag-image">
            </div>
        </div>
        <div class="product-details">
            <h3 class="product-name">SK-II 青春露神仙水</h3>
            <div class="product-price-row">
                <span class="current-price">HK$198</span>
                <div  class="product-price-bottom">
                    <span class="original-price">HK$1,280</span>
                    <div class="product-actions">
                        <button class="action-btn wishlist-btn" aria-label="Add to Wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                        <button class="action-btn cart-btn" aria-label="Add to Cart">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <img src="resources/shopping-grid-2-resources/product4.jpeg" alt="Product Name">
            <div class="tag-overlay">
                <img src="resources/tags/tag2.png" class="tag-image">
            </div>
        </div>
        <div class="product-details">
            <h3 class="product-name">SK-II 青春露神仙水</h3>
            <div class="product-price-row">
                <span class="current-price">HK$198</span>
                <div  class="product-price-bottom">
                    <span class="original-price">HK$1,280</span>
                    <div class="product-actions">
                        <button class="action-btn wishlist-btn" aria-label="Add to Wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                        <button class="action-btn cart-btn" aria-label="Add to Cart">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class="product-card">
        <div class="product-image">
            <img src="resources/shopping-grid-2-resources/product5.jpeg" alt="Product Name">
            <div class="tag-overlay">
                <img src="resources/tags/tag2.png" class="tag-image">
            </div>
        </div>
        <div class="product-details">
            <h3 class="product-name">SK-II 青春露神仙水</h3>
            <div class="product-price-row">
                <span class="current-price">HK$198</span>
                <div  class="product-price-bottom">
                    <span class="original-price">HK$1,280</span>
                    <div class="product-actions">
                        <button class="action-btn wishlist-btn" aria-label="Add to Wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                        <button class="action-btn cart-btn" aria-label="Add to Cart">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class="product-card">
        <div class="product-image">
            <img src="resources/shopping-grid-2-resources/product6.jpeg" alt="Product Name">
            <div class="tag-overlay">
                <img src="resources/tags/tag2.png" class="tag-image">
            </div>
        </div>
        <div class="product-details">
            <h3 class="product-name">SK-II 青春露神仙水</h3>
            <div class="product-price-row">
                <span class="current-price">HK$198</span>
                <div  class="product-price-bottom">
                    <span class="original-price">HK$1,280</span>
                    <div class="product-actions">
                        <button class="action-btn wishlist-btn" aria-label="Add to Wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                        <button class="action-btn cart-btn" aria-label="Add to Cart">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#" class="pink-more-button">更多產品 GO ></a>