a.requires-agreement:hover ul.links {
	text-decoration: underline;
}
.agreement-overlay {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9999;
	padding: 2em;
	width: 100%;
	height: auto;
	max-width: 600px;
	background-color: white;
	border: 1px solid #f2f2f2;
	border-radius: 14px;
	box-shadow: 0 3px 0 #f2f2f2;
	margin-top: -300px;
	margin-left: -300px;
	-webkit-transition: opacity 0.5s 0.06s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: opacity 0.5s 0.06s cubic-bezier(0.77, 0, 0.175, 1);
	-ms-transition: opacity 0.5s 0.06s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: opacity 0.5s 0.06s cubic-bezier(0.77, 0, 0.175, 1);
	transition: opacity 0.5s 0.06s cubic-bezier(0.77, 0, 0.175, 1);
}
@media only screen and (max-width: 734px) {
	.agreement-overlay {
		top: 0;
		left: 0;
		margin-left: 0;
		margin-top: 0;
		padding: 1em;
		width: 100%;
	}
}
.agreement-overlay-dimmer {
	position: fixed;
	z-index: 9998;
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	opacity: 0.92;
	-webkit-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	-ms-backdrop-filter: blur(10px);
	-o-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	top: 0;
	left: 0;
}
.agreement-overlay:not(.visible),
.agreement-overlay:not(.visible) + .agreement-overlay-dimmer {
	opacity: 0;
	backdrop-filter: blur(0);
	pointer-events: none;
}
.agreement-text {
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 1em 0;
	padding: 0 1.2em;
	max-height: 50vh;
}
form.agreement-form .form-box {
	padding-bottom: 0.65em;
}
form.agreement-form .form-box input[type="checkbox"] {
	top: 0.475em;
}
form.agreement-form .form-box span.error {
	overflow: hidden;
	padding-top: 0;
	max-height: 999px;
	-webkit-transition: max-height 0.65s 0s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: max-height 0.65s 0s cubic-bezier(0.77, 0, 0.175, 1);
	-ms-transition: max-height 0.65s 0s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: max-height 0.65s 0s cubic-bezier(0.77, 0, 0.175, 1);
	transition: max-height 0.65s 0s cubic-bezier(0.77, 0, 0.175, 1);
}
form.agreement-form .form-box label:not(.error) + span.error {
	max-height: 0;
}
form.agreement-form .buttons {
	margin-top: 1em;
	text-align: center;
}
form.agreement-form .buttons .button {
	overflow: auto;
	float: none;
	vertical-align: middle;
	display: inline-block;
	height: auto;
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 1.2em 1em 1.24em;
	font-size: 14px;
	letter-spacing: -0.01em;
	font-weight: 400;
	line-height: 0;
	text-shadow: none;
	color: #fff;
	border: none;
	border-radius: 4px;
	background: #cccccc;
	background-image: linear-gradient(to bottom, #ccc 0%, #bbb 100%);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}
form.agreement-form .buttons .button:hover {
	background: #c7c7c7;
	text-decoration: none;
}
form.agreement-form .buttons .button {
	background-image: linear-gradient(#00a3f5 0%, #08c 100%);
}
form.agreement-form .buttons .button:hover {
	background: linear-gradient(#4ab4e8, #1491d0);
}
a[data-agreement-id]:hover {
	cursor: pointer;
}
